@define-color background #1D1D1D;
@define-color foreground #fff;

* {
  color: @foreground;
  min-height: 0;
  font-family: 'Jetbrains Nerd Font', monospace;
  font-weight: 600;
  font-size: 13px;
}

window#waybar {
  background-color: transparent;
}

#workspaces button {
  all: initial;
  padding: 0 6px;
  margin: 0 1.5px;
  min-width: 9px;
}

#workspaces button.empty {
  opacity: 0.5;
}

#battery,
#pulseaudio,
#custom-omarchy,
#custom-screenrecording-indicator,
#custom-update {
  min-width: 12px;
  margin: 0 7.5px;
}

#tray {
  margin-right: 16px;
  margin-left: 5px;
}

#bluetooth {
  margin-right: 17px;
}

#network {
  margin-right: 13px;
}

#custom-expand-icon {
  margin-right: 18px;
}

tooltip {
  background-color: @background;
  border-radius: 10px;
  padding: 2px;
}

#custom-update {
  font-size: 10px;
}

#clock {
  background-color: @background;
  border-radius: 10px;
  margin-top: 4px;
  margin-right: 10px;
  padding: 4px 8px;
}

.hidden {
  opacity: 0;
}

#custom-screenrecording-indicator {
  min-width: 12px;
  margin-left: 8.75px;
  font-size: 10px;
}

#custom-screenrecording-indicator.active {
  color: #a55555;
}

#left-modules {
  background-color: @background;
  border-radius: 10px;
  padding: 4px 8px;
  margin-top: 4px;
  margin-left: 10px;
}

#right-modules {
  background-color: @background;
  border-radius: 10px;
  padding: 4px 8px;
  margin-top: 4px;
  margin-right: 10px;
}

#perf-monitor {
  background-color: @background;
  border-radius: 10px;
  padding: 4px 8px;
  margin-top: 4px;
  margin-right: 10px;
}

#custom-weather {
  background-color: @background;
  border-radius: 10px;
  padding: 4px 8px;
  margin-top: 4px;
}

